.banner-4 .banner-content {
    padding: 220px 0 210px;
    text-align: center;
    color: #ffffff;
}

.banner-4 .banner-content .banner-search {
    border-radius: 0 0 30px 30px;
    background: rgba(0, 0, 0, 0.4);
    margin: 40px auto 0;
    padding: 60px 50px 25px 50px;
}




